@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap");
.footer__section .logo a, header a {
  display: inline-block !important;
  width: 150px;
  height: auto;
}
.footer__section .logo img, header img {
  width: 100% !important;
}
@media screen and (max-width: 375px) {
  .footer__section .logo a, header a {
    width: 100px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  padding: 40px;
}
@media screen and (max-width: 375px) {
  header {
    padding: 25px;
  }
}

.mainSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 10%;
  text-align: center;
}
@media screen and (max-width: 375px) {
  .mainSection {
    padding: 50px 5%;
  }
}

.mainSection__introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.mainSection__introduction p {
  color: #808d99;
  line-height: 140%;
  margin: 10px auto;
  width: 50%;
}
@media screen and (max-width: 375px) {
  .mainSection__introduction p {
    line-height: 130%;
    font-size: 90%;
    width: 80%;
  }
}
.mainSection__introduction img {
  width: 100%;
  height: auto;
  margin: 25px 0;
}

.mainSection__header {
  color: #00252e;
  font-family: "Poppins", sans-serif;
  font-size: 250%;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  width: 100%;
}
@media screen and (max-width: 375px) {
  .mainSection__header {
    font-size: 150%;
  }
}

.mainSection__introduction__imageContainer {
  width: 70%;
}
@media screen and (max-width: 375px) {
  .mainSection__introduction__imageContainer {
    width: 100%;
  }
}

.mainSection__signUp {
  width: 100%;
}
.mainSection__signUp * {
  height: 45px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.mainSection__signUp h1 {
  height: 50%;
}
.mainSection__signUp form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  min-width: 210px;
  width: 60%;
  height: 50%;
}
.mainSection__signUp input {
  border: none;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.42);
  color: #808d99;
  text-align: center;
  padding: 10px 15px;
  resize: horizontal;
  margin: 10px 15px;
  max-width: 500px;
  min-width: 200px;
  outline: none;
  -webkit-box-flex: 5;
  -ms-flex-positive: 5;
  flex-grow: 5;
}
.mainSection__signUp button {
  background: #ff52bf;
  border: none;
  color: white;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 10px 15px;
  min-width: 80px;
  padding: 10px;
  max-width: 200px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 80%;
  background: #00252e;
  padding: 40px;
}
footer * {
  color: white;
}
@media screen and (max-width: 375px) {
  footer {
    padding: 25px;
    flex-direction: column;
    align-items: initial;
  }
}

.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.footer__section .footer__navLinks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
}
.footer__section .footer__navLinks ul li {
  list-style-type: none;
  margin-right: 15px;
}
.footer__section .footer__navLinks ul li a {
  text-decoration: none;
}
.footer__section .footer__navLinks ul li a:hover,
.footer__section .footer__navLinks ul li a:active {
  text-decoration: underline;
}
.footer__section .footer__navLinks ul li:last-child {
  margin-right: 0;
}
@media screen and (max-width: 375px) {
  .footer__section .footer__navLinks ul {
    flex-direction: column;
  }
  .footer__section .footer__navLinks ul li {
    margin-bottom: 15px;
  }
}
.footer__section .footer__socialIcons {
  padding: 0;
  width: 40%;
}
.footer__section .footer__socialIcons a {
  text-decoration: none;
}
.footer__section .footer__socialIcons li {
  float: left;
  list-style: none;
  margin-top: 16px;
  margin-right: 5px;
}
.footer__section .footer__socialIcons li:last-child {
  margin-right: 0;
}
@media screen and (max-width: 375px) {
  .footer__section {
    justify-content: center;
  }
}

.footer__navLinks {
  list-style: none;
}

.footer__navBar {
  -webkit-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}
@media screen and (max-width: 375px) {
  .footer__navBar {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  .footer__navBar .footer__copyRight {
    text-align: center !important;
  }
}

/*# sourceMappingURL=styles.css.map */
