footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  background: $veryDarkCyan;
  padding: 40px;
  * {
    color: white;
  }
}

.footer__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  .footer__navLinks {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      li {
        list-style-type: none;
        margin: 0 5px;
        a {
          text-decoration: none;
        }
      }
      li:last-child {
        margin-right: 0;
      }
      li:first-child {
        margin-left: 0;
      }
    }
  }
  .logo {
    @extend %logo;
  }
  .footer__socialIcons {
    padding: 0;
    width: 40%;
    a {
      text-decoration: none;
    }
    li {
      float: left;
      list-style: none;
      margin: 0 5px;
    }
    li:first-child {
      margin-left: 0;
    }
    li:last-child {
      margin-right: 0;
    }
  }
}

.footer__navLinks {
  list-style: none;
}
.footer__navBar {
  // display: flex;
  align-items: flex-end !important;
  @media screen and (max-width: $mobileBreakpoint) {
    align-items: flex-start !important;
  .footer__copyRight{
  text-align: center!important;
}}
}
