footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: $veryDarkCyan;
  padding: 40px;
  * {
    color: white;
  }
}

.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  .footer__navLinks {
    ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 0;
      li {
        list-style-type: none;
        margin: 0 5px;
        a {
          text-decoration: none;
        }
      }
      li:last-child {
        margin-right: 0;
      }
      li:first-child {
        margin-left: 0;
      }
    }
  }
  .logo {
    @extend %logo;
  }
  .footer__socialIcons {
    padding: 0;
    width: 40%;
    a {
      text-decoration: none;
    }
    li {
      float: left;
      list-style: none;
      margin: 0 5px;
    }
    li:first-child {
      margin-left: 0;
    }
    li:last-child {
      margin-right: 0;
    }
  }
}

.footer__navLinks {
  list-style: none;
}
.footer__navBar {
  // display: flex;
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
  @media screen and (max-width: $mobileBreakpoint) {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  .footer__copyRight{
  text-align: center!important;
}}
}
