// BREAKPOINTS
$mobileBreakpoint: 375px;
$desktopBreakpoint: 1440px;

// COLORS
// primary
$pink: hsl(322, 100%, 66%);
// neutral
$veryDarkCyan: hsl(192, 100%, 9%);
$grayishBlue: hsl(208, 11%, 55%);

// TYPOGRAPHY
$regularFontWeight: 400;
$boldFontWeight: 700;
// headings
$poppinsFont: "Poppins", sans-serif;
// body
$openSansFont: "Open Sans", sans-serif;
